body{
  background-image: url('../assets/404-3.jpg');
  transition: background 300ms ease;
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  animation: scale 1s;
}
h1{
  display: flex;
  flex-direction: column;
  text-align: center;
  filter: drop-shadow(0 0 1rem rgb(14, 14, 14));

}
h1::before{
  display: flex;
  justify-content: center;
  content: 'Ops... 404';
  font-size: 10rem;
  margin: 10rem ;
  filter: drop-shadow(0 0 4rem rgb(14, 14, 14));
}